services:
  db:
    image: postgres:17
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env